<ul>
  <li>
    <p>Post: <%= @post.id %> by <%= @post.user.Name %> </p>
    <p><%= @post.Text %></p>
  </li>
  <li>
    <p>Comments: 
      <% if @post.CommentsCounter == nil %>
        0
      <% else %>
        <%= @post.CommentsCounter %>
      <% end %>
    <p>Likes: 
      <% if @post.LikesCounter == nil %>
        0
      <% else %>
        <%= @post.LikesCounter %>
      <% end %>
    </p>
  </li>
  <li>
    if @post.comments.zero?
      <span>No comments posted</span>
    else
      <% @post.comments.each do |comment| %>
        <p class = "comments_container"><%= comment.user.Name %>: <%= comment.Text %></p>
      <% end %>
    end
  </li>
</ul>